li.progress {
    height: 5px;
    clear: both;
    width: 831px;
}
div.theme-showcase {
    margin-top: 95px;
}
.module_label button:hover {
}
.module_label a span {
    font-size: 18px;
    top: 4px;
    line-height: 0;
    color: #AFAFAF;
}
.module_label a:hover span {
    color: #C93A36;
}