<button type="button" class="btn btn-lg btn-success">Скачать файлы проекта</button>
<p>или <a href="#" >закачать проект на FTP сервер</a>.</p>
<form action="">
    <div class="form-group" ng-show="">
        <label>Хост: </label>
        <input class="form-control"/>
    </div>
</form>
