<label>{{ field.placeholder }}</label>
<select
        ng-model="field.value"
        ng-options="module.name for module in field.data | freeModules: modulesList"
        ng-change="addToList(field.value)"
        ng-required="field.required"
        class="form-control">
</select>
<div class="form_group" ng-show="field.value.name === 'Свой вариант'">
    <label>Укажите свой вариант</label>
    <input class="form-control"
           ng-model="field.custom_value"
           ng-blur="addToList(field.custom_value, field.data)"
           type="text"
           placeholder="Новый {{ field.placeholder }}"/>
</div>
<h4>Добавленные модули</h4>
<ul class="nav nav-pills">
    <li class="module_label" ng-repeat="module in field.data | presetModules: modulesList">
            <button class="btn btn-default"> {{ module.name }}
                <a href="#" ng-click="deleteFromList(module, modulesList)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </button>
    </li>
</ul>