<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" ng-click="newPage()" href="#">Создание нового проекта</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{active: checkTab(step.name)}" ng-show="step.visible" ng-repeat="step in data.steps">
                <a href="#" ng-click="setTab(step.name)">{{ step.title }}</a>
            </li>

            <li class="progress">
                <div class="progress-bar progress-bar-danger" style="width: {{ progress }}%"></div>
            </li>
        </ul>
    </div>
</div>