<label>{{ field.placeholder }}</label>
<select ng-model="field.value" ng-options="item.name for item in field.data" ng-required="field.required"
        class="form-control" ng-change="addToList(field.value)">
</select>
<div class="form_group" ng-show="field.value.name === 'Свой вариант'">
    <label>Укажите свой вариант</label>
    <input class="form-control" ng-model="field.custom_value" type="text" placeholder="Новый {{ field.placeholder }}"/>
</div>