<div class="panel" ng-class="isDoneClass()">
    <div class="panel-heading">Сводная информация</div>
    <div class="panel-body">
        <div ng-repeat="step in data.steps" ng-show="step.visible">
            <h4>{{ step.title }}</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-show="field.value" ng-repeat="field in step.content">
                    {{ field.placeholder }}: {{ field.custom_value || field.value.name || field.value  }}
                </li>
            </ul>
        </div>
    </div>
</div>